.productlistcontainer {
    height: 100vh;
    background: #ffffff;
    overflow: hidden;
    flex-direction: column;
}

.headerproduct {
    display: flex;
    height: 10vh;
    width: 90vw;
    background: #ffffff;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 5vw;
    border-bottom: 1px solid #000;
}

.headerbutton {
    display: flex;
    width: 10vw;
    height: 3vh;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 30px;
}

.titleheaderproduct {
    margin-left: 30px;
    letter-spacing: 1px;
    font-size: 30px;

}

.buttonadd {
    height: 100%;
    width: 100%;
    background: rgb(95, 95, 255);
    border: 0px;
    border-radius: 2px;
}

#delete-product-btn {
    background: rgb(252, 84, 84);
    border: 0px;
    border-radius: 2px;
}
.buttonadd:hover {
    cursor: pointer;
}
#delete-product-btn:hover {
    cursor: pointer;
}
.productcase {
    display: flex;
    width: 90vw;
    background: #ffffff;
    justify-content: flex-start;
    margin-left: 5vw;
    border-bottom: 1px solid #000;
    flex-flow: row wrap;
}

.case {
    display: flex;
    height: 30vh;
    width: 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2vw;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #000;
}
.casedivtext {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

#delete-checkbox {
    margin: 10px;
    height: 20px;
    width: 20px;
}
.lastsentence {
    text-align: center;
}